
<table class="table table-bordered">
    <thread>
        <tr>
            <th>Category</th>
            <th>Title</th> 
            <th>Genre</th>
	        <th>Year</th>
	        <th>Duration</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
    </thread>
    <tbody>
        {{#each display}}
        <tr>
            <td>{{this.category}}</td>
            <td>{{this.title}}</td>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 > 
            <td>{{this.genre}}</td>
	        <td>{{this.year}}</td>
	        <td>{{this.duration}}</td>
            <td>{{this.comments}}</td> 
            <td>
        <form action="displayRecords/{{this._id}}" method="GET">
            <div class="form-group">
                <button type="submit" class="btn btn-info">Delete</button>
            </div>
        </form>
             </td>   
        </tr>
        {{/each}}
  
    </tbody>

</table>

  <form action="/" method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-info">Add new record</button>
        </div>
    </form> 